<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consultar Maestro</title>
</head>

<body>
    <h2><a style="color: rgb(5, 30, 255);" href="/index">⌂Inicio</a></h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>RFC</td>

            </tr>
        </thead>
        <tbody>
            {% if object_list %}
             {% for maestro in object_list %}
            <tr>
                <td style="width: 25%; text-align: left;vertical-align: top;border: 1px solid #000;">{{maestro.idMaestro}}</td>
                <td style="width: 25%; text-align: left;vertical-align: top;border: 1px solid #000;">{{maestro.rfc}}</td>
                <td style="width: 25%; text-align: left;vertical-align: top;border: 1px solid #000;">{{maestro.nombre}}</td>
                <td>
                    <a class="btn btn-primary" style="background-color: #4CAF50;border: none;color: white; padding: 15px 32px;text-align: center;text-decoration: none;
                    display: inline-block;font-size: 16px;"href="{% url 'modi_maestro' maestro.idMaestro %}">Editar</a>
                </td> 

            </tr>
            {% endfor %} {% else %}
            <h1>No hay registros</h1>

            {% endif %}
        </tbody>
    </table>
</body>

</html>