<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consultar Carrera</title>
</head>
<body>
    <h2><a href="/index">⌂Inicio</a></h2>
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                
                                
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for carrera in object_list %}
            <tr>
                <td style="width: 25%; text-align: left;vertical-align: top;border: 1px solid #000;">{{carrera.idCarrera}}</td>
                <td style="width: 25%; text-align: left;vertical-align: top;border: 1px solid #000;">{{carrera.nombre}}</td>                
                <td>
                    <a class="btn btn-primary" style="background-color: #4CAF50;border: none;color: white; padding: 15px 32px;text-align: center;text-decoration: none;
                    display: inline-block;font-size: 16px;" href="{% url 'modi_carrera' carrera.idCarrera %}">Editar</a>
                    <!--<a class="btn btn-danger" style="background-color: #f44336;border: none;color: white; padding: 15px 32px;text-align: center;text-decoration: none;
                    display: inline-block;font-size: 16px;" href="{% url 'eli_carrera' carrera.idCarrera%}">Borrar</a>
                    -->
                </td> 
                
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registros</h1>

            {% endif %}
        </tbody>
    </table>
</body>
</html>