<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2><a style="color: rgb(5, 30, 255);" href="/index">⌂Inicio</a></h2>
    <h3><a style="color: rgb(13, 6, 75);" >Modificar Usuario</a></h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
      </form>
</body>
</html>